# replace with db credentials
DB_USERNAME=CHANGE-ME
DB_PASSWORD=CHANGE-ME

# replace localhost:8080 with registered DNS name
DOMAIN=localhost:8080
EXTRA_DOMAINS=docs.localhost:8080,hapi.localhost:8080
FHIR_BASE=http://localhost:8080/fhir

# SWAG STAGING, default is false for use with localhost
STAGING=true
