DB_USERNAME=REPLACE_ME
DB_PASSWORD=REPLACE_ME
DOMAIN=test-fhir-aggregator.org
EXTRA_DOMAINS=docs.test-fhir-aggregator.org,hapi.test-fhir-aggregator.org,google-fhir.test-fhir-aggregator.org
FHIR_BASE=https://hapi.test-fhir-aggregator.org/fhir
FHIR_SERVICE_URL=https://healthcare.googleapis.com/v1beta1/projects/$GOOGLE_PROJECT/locations/$GOOGLE_LOCATION/datasets/$GOOGLE_DATASET/fhirStores/$GOOGLE_DATASTORE
