PROJECT_ID="ncpi-rti-p01-007-ohsu"
REGION="us-central1" # Choose your preferred region
CLUSTER_NAME="my-hapi-fhir-cluster"
NUM_NODES=3 # Adjust as needed

ZONE="<your-gke-cluster-zone>"
NAMESPACE="fhir"
CLOUD_SQL_INSTANCE="<your-cloud-sql-instance-connection-name>"
DATABASE_NAME="<your-database-name>"
DATABASE_USER="<your-database-username>"
DATABASE_PASSWORD="<your-database-password>"
CHART_REPO="https://hapifhir.github.io/hapi-fhir-jpaserver-starter/"
CHART_NAME="hapi-fhir-jpaserver"
